{% load static %}
<table border="0" width="100%">
    <tbody>
        <tr>
            <td>
                <img src="{% static "qlbansua/images/Logo_30nam.gif"%}" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{% static "qlbansua/images/1891_vn.gif"%}" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{% static "qlbansua/images/Thoitiet1.jpg"%}" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{% static "qlbansua/images/pic_functional.jpg"%}" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{% static "qlbansua/images/pic_km.jpg"%}" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{% static "qlbansua/images/pic_new.jpg"%}" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="{% static "qlbansua/images/Logo_CauChuyenVinamilk.gif"%}" alt=""/>
            </td>
        </tr>
    </tbody>
</table>

