<div id="page5" class="main">
    <div class="col1 thuc-don" >
        {% include "./thuc-don.html" %}
    </div>
    <div class="col2">
        <form name="frmThemKhachHang" action="trangthemkhachhang" method="post">
            {% csrf_token %}
        <table border="0">
            <thead>
                <tr>
                    <th colspan="4">THÊM KHÁCH HÀNG MỚI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mã KH</td>
                    <td><input type="text" name="txtMaKH" value="Mã KH" /></td>
                    <td>Tên KH</td>
                    <td><input type="text" name="txtTenKH" value="Tên KH" /></td>
                </tr>
                <tr>
                    <td>Phái</td>
                    <td>
                        <input type="radio" name="rdbPhai" value="0"/>Nam
                        <input type="radio" name="rdbPhai" value="1" />Nữ
                    </td>
                    <td>Địa chỉ</td>
                    <td><input type="text" name="txtDiaChi" value="Địa chỉ" /></td>
                </tr>
                <tr>
                    <td>Điện thoại:</td>
                    <td><input type="text" name="txtDienThoai" value="Điện thoại" /></td>
                    <td>Email:</td>
                    <td><input type="text" name="txtEmail" value="Email" /></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input type="submit" value="Thêm mới" name="btnThemMoi" />
                    </td>
                </tr>
            </tbody>
        </table>
        </form>        
    </div>
</div>