<div id="page2" class="main">
    <div class="col1 thuc-don">
        {% include "./thuc-don.html" %}
    </div>
    <div class="col2">
        <form name="frmThemSua" action="trangthemsuamoi" method="post">
            {% csrf_token %}
        <table border="0">
            <tbody>
                <tr>
                    <td>Mã sữa: </td>   
                    <td><input type="text" name="txtMaSua" placeholder="Mã sữa" /></td>
                </tr>
                <tr>
                    <td>Tên sữa: </td>
                    <td><input type="text" name="txtTenSua" placeholder="Tên sữa" /></td>
                </tr>
                <tr>
                    <td>Hãng sữa: </td>
                    <td><select name="cboHangSua">
                            {% for hs in dshs %}
                                <option value="{{hs.ma_hang_sua}}">{{hs.ten_hang_sua}}</option>
                            {% endfor %}
                            
                        </select></td>
                </tr>
                <tr>
                    <td>Lọai sữa: </td>
                    <td><select name="cboLoaiSua">
                            {% for ls in dsls %}
                                <option value="{{ls.ma_loai_sua}}">{{ls.ten_loai}}</option>
                            {% endfor %}
                            
                        </select></td>
                </tr>
                <tr>
                    <td>Trọng lượng: </td>
                    <td><input type="text" name="txtTrongLuong" placeholder="Trọng lượng" /></td>
                </tr>
                <tr>
                    <td>Đơn giá: </td>
                    <td><input type="text" name="txtDonGia" placeholder="Đơn giá" /></td>
                </tr>
                <tr>
                    <td>TP dinh dưỡng: </td>
                    <td><textarea name="txtTPDinhDuong" rows="4" cols="20" >
                            Thành phần dinh dưỡng
                        </textarea></td>
                </tr>
                <tr>
                    <td>Lợi ích: </td>
                    <td><textarea name="txtLoiIch" rows="4" cols="20">
                            Lợi ích của sữa
                        </textarea></td>
                </tr>
                <tr>
                    <td>Hình ảnh: </td>
                    <td><input type="file" name="txtHinh" value="" width="50" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Thêm mới" name="btnThemMoi" />
                    </td>
                </tr>
            </tbody>
        </table>
        </form>                 
    </div>
</div>